name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */6 * * *"   # runs every 6 hours (faster updates)
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Generate snake
        uses: Platane/snk@v3
        with:
          github_user_name: Sumanth1410-git
          outputs: |
            dist/github-contribution-grid-snake.svg?palette=github-dark

      - name: Push snake animation
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
